@{
    Layout = "~/Views/Shared/_QuinielerosLayout.cshtml";
    ViewData["Title"] = "Login";
}
@model QuinielerosWeb.Models.LoginModel

<div class="row mt-5 justify-content-center">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">
                Bienvenido
            </div>
            <div class="card-body">
                <form asp-controller="Login" asp-action="Login" method="post">
                    <input class="form-control mb-3" type="text" placeholder="User" required asp-for="Usuario" />
                    <input class="form-control mb-3" type="text" placeholder="Password" required asp-for="Pass" />
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>    
</div>
